/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
body{
    /* background-color: #8600bd; */
    width:100wh;
    height:100vh;
    background: linear-gradient(90deg, #ee912d, #e6683c, #ad1e34, #a21b51, #8600bd);
    .container{
        background-color: #f5eff8;
        border-radius: 45px;
        background: linear-gradient(315deg, #cacaca, #f0f0f0);
        box-shadow:  -21px -21px 41px #a8a8a8,
        21px 21px 41px #ffffff;
         @media screen and (max-width:767px ){
                width: 90%;  
                padding:0;
              
            }

    }
}

img{
    width :20px;
    height:150px;
    object-fit: contain;
    
   
}
.card{
    padding:10px;
    margin:10px;
    background-color: rgba(255, 228, 196, 0.456);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* From Uiverse.io by cssbuttons-io */ 
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #ad1e34;
  box-shadow: 0px 15px 20px rgba(229, 77, 46, 0.203);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
table{
    border: solid 3px #8600bd;
}

/* .custom-shape-divider-top-1759805418 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1759805418 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 114px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1759805418 .shape-fill {
    fill: #F5EFF8;
} */

